@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply antialiased;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgba(250,204,21,0.4), rgba(30,41,59,0.8));
    border-radius: 9999px;
}
